.unreadTop-3rAB3r{
    width:240px;
    border-radius: 0 !important;
    padding: 0;
    .bar-30k2ka{
        border-radius: 0 !important;
        background: linear-gradient(var(--background-accent), transparent);
        box-shadow: none;
        &.mention-1f5kbO{
            border-radius: 0 !important;
            background: linear-gradient(#f04747, transparent);
            box-shadow: none;
        }
    }
}
.unreadBottom-1_LF_w {
    width:240px;
    border-radius: 0 !important;
    padding:0;
    .bar-30k2ka{
        border-radius: 0px  !important;
        background: linear-gradient(0deg, var(--background-accent), transparent);
        box-shadow: none;
        &.mention-1f5kbO{
            border-radius: 0 !important;
            background: linear-gradient(0deg, #f04747, transparent);
            box-shadow: none;
        }
    }
}
.unreadMentionsIndicatorBottom-2mDYbI{
    padding:0px;
    height:24px;
    .unreadMentionsBar-1Bu1dC{
        border-radius: 0px !important;
        background: linear-gradient(0deg, #f04747, transparent);
    }
}
.unreadMentionsIndicatorTop-2-tcdU{
    padding:0px;
    height:24px;
    .unreadMentionsBar-1Bu1dC{
        border-radius: 0 !important;
        background: linear-gradient(#f04747, transparent);
    }    
}