.membersWrap-2h-GB4{
    min-width: unset;
}
.members-1998pB{
    max-width: 65px;
    min-width: 65px;
    transition: .3s ease;
}
.members-1998pB:hover{
    max-width: 240px;
    min-width: 240px;
}
div:not(:hover)>.membersGroup-v9BXpm{
    height: 0px;
    padding: 0%;
}
div:not(:hover)>.members-1998pB>div{
    padding-top: 10px;
}