.guilds-1SWlCJ{
    .tree-2wKJdG:focus {
        outline-color: transparent;
    }
    .scroller-1Bvpku{
        contain: unset;
        margin-top: 56px;
        .powerclock+.tutorialContainer-2sGCg9{
            position: fixed;
            transform: translate3d(0,-76px,0);
        }
        .tutorialContainer-2sGCg9{
            position: fixed;
            transform: translate3d(0,-56px,0);
        }
    }
}