.guilds-1SWlCJ .scroller-1Bvpku {
    contain: unset;
    margin-top: 56px;
}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
  position: fixed;
  transform: translate3d(0, -56px, 0);
}
.tree-2wKJdG:focus {
    outline-color: transparent;
}
.powerclock+.tutorialContainer-2sGCg9{
    position: fixed;
    transform: translate3d(0,-76px,0);
}