html{
    background: var(--background);
    &.home nav .home{
        text-decoration: underline !important;
    }
    &.snippets nav .snippets{
        text-decoration: underline !important;
    }
    body{
        color: var(--text-color);
        margin: 0;
        &>nav{
            position: sticky;
            height: 18px;
            padding: 6px;
            top: 0;
            background: var(--navbar-background);
            &>div:last-child{
                margin-left: auto;
                width: fit-content;
                a{
                    text-decoration: none;
                    color: var(--text-color);
                }
            }
        }
        &>.banner{
            width: clamp(350px, 75%, 900px);
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            background: var(--content-background);
            padding: 6px;
            border-radius: 6px ;
            &>div{
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
                text-align: center;
            }
        }
        &>main{
            &>div{
                width: clamp(350px, 75%, 900px);
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 6px;
                border-radius: 6px ;
                background: var(--content-background);
                &>div[style][aria-label="header"]{
                    [style="font-size: 20px;"]{
                        background: var(--background);
                        border-radius: 6px ;
                        padding: 5px;
                    }
                    .sites{
                        margin-left: auto;
                        width: fit-content;
                        background: var(--background);
                        padding: 5px;
                        padding-bottom: 0;
                        border-radius: 6px;
                        a{
                            margin-left: 4px;
                            visibility: hidden;
                            svg{
                                visibility: visible;
                                &:hover{
                                    animation-name: rotatingsvgs;
                                    animation-duration: 2s;
                                    animation-iteration-count: infinite;
                                }
                            }
                        }
                    }
                }
                &>div[style][aria-label="about"]>div{
                    width: calc(100% - 14px);
                    background: var(--background);
                    padding: 5px;
                    margin: 5px;
                    margin-bottom: 0;
                    padding-right: 10px;
                    border-radius: 6px;
                    margin-left: -1px;
                    ul{
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

            }
        }
    }
}
.code{
    background: var(--background);
    padding: 16px;
    contain: content;
    &:first-child{
        border-radius: 6px 6px 0 0;
    }
    &:last-child{
        border-radius: 0 0 6px 6px;
    }
    .name{
        background: var(--codeblock-background);
        border-radius: 6px;
        padding: 6px;
        font-size: 1.3rem;
        width: fit-content;
    }
    .copy-button{
        position: absolute;
        bottom: 18px;
        right: 18px;
        opacity: 0;
        transition: opacity linear 200ms;
    }
    pre{
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        background: var(--codeblock-background);
        padding: 8px;
        border-radius: 6px;
        margin-top: .5rem;
        margin-bottom: 0;
        &:hover+.copy-button,&+.copy-button:hover{
            opacity: .9;
        }
    }
    button {
        color: unset;
        background-color: var(--codeblock-background);
        box-sizing: border-box;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 6px;
        border-width: 1px;
        border-color: black;
        border-radius: 6px;
        border-style: outset;
        transition: linear 100ms;
        &:active{
            background-color: var(--background);
        }
    }
}
@keyframes rotatingsvgs{
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
}
.userselectnone{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
:root{
    --text-color:rgb(255, 255, 255);
    --background:rgb(22, 22, 22);
    --content-background:rgb(49, 47, 47);
    --navbar-background:black;
    --codeblock-background:#1e1e1e;
}
$code_type:(
    1:#d7ba7d,
    2:#9cdcfe,
    3:#569cd6,
    4:#dcdcaa,
    5:#ce9178,
);
@each $name, $code_type_color in $code_type{
    .ct-#{$name}{
        color:$code_type_color;
    }
}
[class^="groupStart-"]{
  display:none;
}

.copy-button{
    display: none;
}