@font-face {
  font-family: 'Discord-logo';
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/powercord-org/powercord-backend/my-awesome-branch/web/src/assets/discord-font.otf") format("opentype");
}

html,
body,
#appmount {
  height: 100vh;
}

#appmount {
  z-index: 1;
}

* {
  margin: 0%;
  padding: 0%;
}

.dark-theme {
  --primary-background: rgb(36, 38, 38);
  --secondary-background: rgb(27, 29, 30);
  --primary-border:rgb(12, 119, 164);
  --card-border:rgba(255, 255, 255, .5);
  --card-background:rgba(255, 255, 255, .1);
  --bubble-1:rgb(255, 0, 123);
  --bubble-2:rgb(166, 0, 255);
  --header-primary:rgb(222, 222, 222);
  --header-secondary: var(--secondary-background);
  --text-color:#fff;
  --trans-text-color:rgba(0, 0, 0, 0.3);
  --border-raduis:8px;
  --discord-join:none;
}

body {
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.627);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.627);
  z-index: 1;
}

.navbar .logo {
  font-size: 2rem;
  left: 5px;
  top: 8px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Discord-logo;
  text-decoration: none;
  color: var(--header-primary);
}

.navbar .sites {
  position: absolute;
  right: 10px;
  top: 14px;
  font-family: Discord-logo;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--header-primary);
  pointer-events: var(--discord-join);
}

.navbar .sites.discord {
  pointer-events: var(--discord-join);
}

.main-content {
  width: calc(100vw);
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 40px;
  z-index: 0;
}

.main-content .scrollbar {
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-border) transparent;
  scroll-margin-top: 20px;
}

.main-content .scrollbar .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content .scrollbar .content .card {
  position: relative;
  width: 380px;
  height: 300px;
  margin: 10px;
  border-radius: var(--border-raduis);
  background: var(--card-background);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
  z-index: 1;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.main-content .scrollbar .content .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 20px 20px 50px black;
          box-shadow: 20px 20px 50px black;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: -1;
}

.main-content .scrollbar .content .card .url.git {
  position: absolute;
  top: 10px;
  font-size: 2rem;
  color: var(--header-secondary);
  text-decoration: none;
}

.main-content .scrollbar .content .card .outer > .preview.preview img {
  width: 100%;
}

.main-content .scrollbar .content .card .background-word {
  position: absolute;
  font-size: 10rem;
  color: var(--trans-text-color);
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-content .scrollbar .content .card .desc {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
  color: var(--header-secondary);
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
            transform: translateX(0%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
            transform: translateX(0%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #86377b), color-stop(80%, #27273c));
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}

.waveAnimation {
  top: -5px;
}
/*# sourceMappingURL=style.css.map */
