* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --appmount-background:#36393f;
  --color-normal:#dcddde;
  --nav-background:#202225;
  --details-background:#292b2f;
  --background-text:#dcddde79;
  --card-border:rgba(255, 255, 255, .5);
  --card:rgba(255, 255, 255, .1);
  --border-color:hsla(0,0%,100%,0.06);
  --button-background:#7289da;
}

:root {
  --thick-scrollbar-background:rgba(255, 255, 255, 0);
  --thick-scrollbar-thumb:rgba(255, 255, 255, 0.3);
  --thick-scrollbar-thumb-hover:rgba(0,0,0, 0.1);
}

:root {
  --thin-scrollbar-background:rgba(255, 255, 255, 0);
  --thin-scrollbar-thumb:rgba(255, 255, 255, 0.3);
  --thin-scrollbar-thumb-hover:rgba(0,0,0, 0.1);
}

body {
  overflow: hidden;
}

.button {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.button > div {
  width: 100px;
  height: 30px;
  background: var(--button-background);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--color-normal);
}

#nav {
  background: var(--nav-background);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px auto;
      grid-template-columns: 220px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 40px;
  z-index: 1;
}

#nav .logo {
  font-size: 2rem;
  margin-left: 10px;
}

#nav .site {
  text-decoration: unset;
  color: var(--color-normal);
}

#nav .site:not(:last-child):not(.logo) {
  padding-right: 5px;
  border-right: 1px solid var(--border-color);
}

#nav .sites {
  margin: auto;
  margin-right: 10px;
  text-align: right;
}

.appmount:not(.powercord):not(.help) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px auto;
      grid-template-columns: 220px auto;
}

.appmount.powercord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appmount {
  position: relative;
  height: calc(100vh - 40px);
  width: 100vw;
  position: absolute;
  bottom: 0px;
  margin-top: 40px;
  background: var(--appmount-background);
}

.appmount #details {
  background: var(--details-background);
  padding-bottom: 8px;
}

.appmount #details .github-avatar {
  border-radius: 10%;
  background: #2f3136;
  height: 200px;
  margin: 10px;
  margin-bottom: 0px;
  -webkit-user-drag: none;
}

.appmount #details .status {
  background: orange;
  font-size: 1.1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 50px;
  word-break: keep-all;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px auto;
      grid-template-columns: 25px auto;
  position: absolute;
  top: 175px;
  left: 176px;
  z-index: 1;
}

.appmount #details .status:hover a {
  display: block;
}

.appmount #details .status span {
  font-size: .9rem;
  margin-left: 2.5px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}

.appmount #details .status a {
  margin-top: 2px;
  display: none;
}

.appmount #details .username {
  text-align: center;
  font-size: 2rem;
  color: var(--color-normal);
}

.appmount #details .name {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-normal);
}

.appmount #details .Pronouns {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28px auto;
      grid-template-columns: 28px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.appmount #details .Pronouns svg {
  fill: var(--color-normal);
}

.appmount #details .Pronouns .p-label {
  font-size: 1.4rem;
  color: var(--color-normal);
  position: relative;
}

.appmount .main-content {
  color: var(--color-normal);
  height: calc(100vh - 40px);
}

@media screen and (max-width: 700px) {
  .appmount:not(.powercord):not(.help) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 220px auto;
        grid-template-rows: 220px auto;
  }
  .username {
    position: absolute;
    top: 10px;
    left: 220px;
  }
  .name {
    position: absolute;
    top: 50px;
    left: 220px;
  }
  .theme .preview {
    height: unset !important;
  }
  .button {
    text-decoration: none;
    position: absolute;
    top: 80px;
    left: 220px;
  }
  .button > div {
    width: 100px;
    height: 30px;
    background: var(--button-background);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: var(--color-normal);
  }
  #details {
    overflow: hidden !important;
    height: 232px;
    padding-bottom: 0px !important;
  }
  #details div {
    overflow: auto;
    white-space: nowrap;
  }
  .github-avatar-outer {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

@media screen and (max-width: 400px) {
  .name, .username {
    display: none;
  }
  .status {
    pointer-events: none;
  }
}

.card {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  position: relative;
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card);
  border-radius: 8px;
  border-left: 1px solid var(--card-border);
  border-top: 1px solid var(--card-border);
}

.card .outer {
  top: 10px;
  position: relative;
}

.card .outer img {
  width: 100%;
}

.card a {
  position: absolute;
  top: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-normal);
}

.card .desc {
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: var(--color-normal);
}

.card .background-word {
  position: absolute;
  font-size: 8rem;
  color: var(--background-text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.theme .preview {
  max-height: calc(100vh + 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div + .nothing {
  display: none;
}

.nothing {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.scrollbar-thick::-webkit-scrollbar {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  background-clip: padding-box;
  width: 12px;
}

.scrollbar-thick::-webkit-scrollbar-track {
  background: var(--thick-scrollbar-background);
}

.scrollbar-thick::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--thick-scrollbar-thumb);
  background-clip: padding-box;
}

.scrollbar-thin::-webkit-scrollbar {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  background-clip: padding-box;
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: var(--thin-scrollbar-background);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--thin-scrollbar-thumb);
  background-clip: padding-box;
}

.reach-out {
  margin: 5px;
  color: var(--color-normal);
}

.reach-out div > span {
  margin-left: 10px;
}

.reach-out .discord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reach-out .discord p, .reach-out .discord a {
  margin-left: 3px;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.user-themes, .user-plugins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.user-content > p {
  font-size: 2rem;
  margin: 5px;
}

:root {
  --tooltip-background:#00000070;
}

.selected {
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */