@import url(/assets/fonts/fonts.css);
html[mode="light"] {
  --background-primary: rgb(243, 240, 240);
  --background-secondary: rgb(190, 190, 190);
  --background-secondary-alt: rgb(212, 212, 212);
  --text-color: rgb(43, 48, 54);
}

html[mode="dark"] {
  --background-primary: rgb(34, 34, 34);
  --background-secondary: rgb(61, 61, 61);
  --background-secondary-alt: rgb(53, 55, 59);
  --text-color: rgb(231, 237, 245);
  --pre-scrollbar-track: rgb(77, 77, 83);
}

html[codetype="css"] g.scss {
  display: none;
}

html[codetype="scss"] g.css {
  display: none;
}

html > body {
  margin: 0;
  font-family: 'whitney', sans-serif;
  background: var(--background-primary);
}

html > body > #appmount > nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--background-secondary);
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 170px calc(100% - 170px);
      grid-template-columns: 170px calc(100% - 170px);
  z-index: 1;
}

html > body > #appmount > nav .home a {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 28px;
}

html > body > #appmount > nav .home + div {
  text-align: right;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 170px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(100% - 230px);
  padding: 0 10px;
}

html > body > #appmount > nav .home + div + a {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
}

html > body > #appmount > nav .home + div + a svg {
  width: 24px;
  height: 24px;
  padding: 2px;
  fill: var(--text-color);
}

html > body > #appmount > nav a {
  text-decoration: none;
  color: var(--text-color);
}

html > body > #appmount > nav a:hover {
  text-decoration: underline;
}

html > body > #appmount > main {
  padding: 10px;
  color: var(--text-color);
  position: relative;
}

html > body > #appmount > main.hashed .snippets:not(.hashed) {
  display: none;
}

html > body > #appmount > main .snippets {
  position: relative;
}

html > body > #appmount > main .snippets:not(:last-of-type) {
  margin-bottom: 10px;
}

html > body > #appmount > main .snippets > h2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

html > body > #appmount > main .snippets > h2:hover .get_url {
  opacity: 1;
}

html > body > #appmount > main .snippets > h2 .get_url {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

html > body > #appmount > main .snippets > h2 .get_url svg {
  padding: .5rem;
  cursor: pointer;
  fill: var(--text-color);
}

html > body > #appmount > main .snippets > h2::first-letter {
  text-transform: uppercase;
}

html > body > #appmount > main .snippets > h2 + pre {
  background: var(--background-secondary-alt);
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  overflow: auto;
  max-height: 11rem;
}

html > body > #appmount > main .snippets > h2 + pre::-webkit-scrollbar {
  width: 8px;
}

html > body > #appmount > main .snippets > h2 + pre::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid transparent;
  background-clip: padding-box;
  margin-bottom: 2px;
  margin-top: 2px;
}

html > body > #appmount > main .snippets > h2 + pre::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background: var(--pre-scrollbar-track);
  background-clip: padding-box;
}

html > body > #appmount > main .snippets .copy_code {
  position: absolute;
  bottom: 14px;
  right: 10px;
}

html > body > #appmount > main .snippets.multi {
  background: var(--background-secondary-alt);
  padding: 10px;
  border-radius: 4px;
}

html > body > #appmount > main .snippets.multi > h2 {
  background: var(--background-primary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

html > body > #appmount > main .snippets.multi > h2 .get_url {
  opacity: 1;
}

html > body > #appmount > main .snippets.multi > div {
  position: relative;
}

html > body > #appmount > main .snippets.multi > div > h3 {
  margin: 0;
}

html > body > #appmount > main .snippets.multi > div > h3::first-letter {
  text-transform: uppercase;
}

html > body > #appmount > main .snippets.multi > div > h3 + pre {
  background: var(--background-primary);
  padding: 10px;
  border-radius: 4px;
  margin-top: 0;
  overflow: auto;
  max-height: 11rem;
  min-height: 4rem;
  margin-bottom: 0;
}

html > body > #appmount > main .snippets.multi > div > h3 + pre::-webkit-scrollbar {
  width: 8px;
}

html > body > #appmount > main .snippets.multi > div > h3 + pre::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid transparent;
  background-clip: padding-box;
  margin-bottom: 2px;
  margin-top: 2px;
}

html > body > #appmount > main .snippets.multi > div > h3 + pre::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background: var(--pre-scrollbar-track);
  background-clip: padding-box;
}

html > body > #appmount > main > .frontstyle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
}

html > body > #appmount > main > .frontstyle div {
  font-size: 1rem;
}

html > body > #appmount > main > .ver {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

html > body > #appmount > #switchcodetype {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--background-secondary);
}

html > body > #appmount > #switchcodetype svg {
  height: 30px;
  width: 30px;
  margin: 4px;
}

html textarea {
  background: var(--background-secondary-alt);
  color: var(--text-color);
}
/*# sourceMappingURL=style.css.map */