html {
  --background-primary: #292841;
  --background-secondary: #242338;
  --background-secondary-alt: #191827;
  --background-tertiary: #1c1b29;
  --background-accent: #413f66;
  --background-floating: #15141e;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-selected: #ebebeb;
  --interactive-active: #fff;
  --background-modifier-hover: rgba(60, 58, 94, 0.1);
  --background-modifier-active: rgba(60, 58, 94, 0.3);
  --background-modifier-selected: rgba(60, 58, 94, 0.4);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --text-normal: #ffffff;
  color: var(--text-normal);
}

html:not([banner]) div.banner {
  display: none;
}

html[banner] .appmount {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem calc(100% - 2rem - 2.5rem) 2.5rem;
      grid-template-rows: 2rem calc(100% - 2rem - 2.5rem) 2.5rem;
}

html:not([banner]) .appmount {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(100% - 2.5rem) 2.5rem;
      grid-template-rows: calc(100% - 2.5rem) 2.5rem;
}

html body {
  background-color: var(--background-primary);
}

div.banner {
  min-height: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--background-tertiary);
}

div.main {
  height: 100%;
  position: relative;
}

div.main .navigation {
  z-index: 100;
}

div.main .navigation.closed {
  display: none;
}

div.main .navigation nav {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  padding: 6px;
  border-radius: 6px;
  z-index: 1;
  background: var(--background-secondary-alt);
  width: 250px;
  overflow: hidden scroll;
}

div.main .navigation nav .site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 6px;
  border-radius: 6px;
  margin-top: 5px;
  background: var(--background-modifier-normal);
  color: var(--text-normal) !important;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;
}

div.main .navigation nav .site svg {
  fill: var(--text-normal) !important;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;
}

div.main .navigation nav .site:hover, div.main .navigation nav .site:focus {
  background: var(--background-modifier-hover);
  color: var(--interactive-hover) !important;
}

div.main .navigation nav .site:hover svg, div.main .navigation nav .site:focus svg {
  fill: var(--interactive-hover) !important;
}

div.main .navigation nav .site:active {
  background: var(--background-modifier-active);
  color: var(--text-active);
}

div.main .navigation nav .site:active svg {
  fill: var(--text-normal);
}

div.main .navigation nav .site .icon {
  height: 2rem;
  width: 2rem;
}

div.main .navigation nav .site div {
  position: absolute;
  left: 3rem;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

div.main .navigation nav .seperator {
  position: relative;
  height: 1rem;
}

div.main .navigation nav .seperator:not(:first-child) {
  margin-top: 10px;
}

div.main .navigation nav .seperator .text {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.main .navigation nav .seperator .line {
  height: 2px;
  background: var(--background-secondary);
  position: absolute;
  top: .4rem;
}

div.main .navigation nav .seperator .line:last-child {
  right: 0;
}

div.main .navigation nav .seperator.local .line {
  width: calc(50% - 1.8em);
}

div.main .navigation nav .seperator.github .line {
  width: calc(50% - 2.05rem);
}

div.main .navigation nav .seperator.discord .line {
  width: calc(50% - 2.1rem);
}

div.main .navigation nav .seperator.copyright .line {
  width: calc(50% - 4.4em);
}

div.main .navigation nav .seperator.discord {
  display: none;
}

div.main .navigation nav .seperator.discord + a, div.main .navigation nav .seperator.discord + a + a {
  display: none;
}

div.main .navigation .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.65);
}

div.main .content {
  padding: 10px;
  overflow: hidden scroll;
}

div.main .content .snippets {
  min-height: 100%;
  width: clamp(300px, 70%, 900px);
  margin: auto;
  background: var(--background-secondary);
  border-radius: 6px;
}

div.main .content .snippets > div {
  padding: 6px;
  position: relative;
}

div.main .content .snippets > div [id] > div:first-child {
  font-size: 1.3rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

div.main .content .snippets > div [id] > div:first-child .btn {
  position: absolute;
  right: 0;
  -webkit-transform: translate(150%);
          transform: translate(150%);
  opacity: 0;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

div.main .content .snippets > div [id] > div:first-child .btn svg {
  fill: var(--interactive-selected);
}

div.main .content .snippets > div [id] > div:first-child::after {
  content: '';
  position: absolute;
  right: 0;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  width: 16px;
  height: 1.3rem;
}

div.main .content .snippets > div [id] > div:first-child:hover .btn {
  opacity: 1;
}

div.main .content .snippets > div [id] > .code {
  margin-top: 5px;
  border-radius: 6px;
  padding: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 12rem;
  background: var(--background-secondary-alt);
}

div.main .content .snippets > div [id] > .copy {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

div.main .content .snippets > div [id] > .copy:not(:active) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

div.main > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

footer {
  min-height: 1rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  background: var(--background-tertiary);
}

footer > div:first-child {
  width: 375px;
}

footer > div:first-child button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer > div {
  width: 100%;
  position: relative;
}

footer > div div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

[page="home"] nav .site[href="./index.html"], [page="snippets"] nav .site[href="./snippets.html"], [page="themes"] nav .site[href="./themes.html"] {
  pointer-events: none;
  background: var(--background-modifier-selected) !important;
}

[page="home"] nav .site[href="./index.html"] svg, [page="snippets"] nav .site[href="./snippets.html"] svg, [page="themes"] nav .site[href="./themes.html"] svg {
  fill: var(--interactive-selected);
}

[page="home"] nav .site[href="./index.html"] color, [page="snippets"] nav .site[href="./snippets.html"] color, [page="themes"] nav .site[href="./themes.html"] color {
  fill: var(--interactive-selected);
}

.scrollthin {
  /* width */
  /* Track */
  /* Handle */
}

.scrollthin::-webkit-scrollbar {
  width: 8px;
}

.scrollthin::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid transparent;
}

.scrollthin::-webkit-scrollbar-thumb {
  background: #242338;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 6rem;
}

.scrollthin::-webkit-scrollbar-button {
  display: none;
}

.scrollthick {
  scrollbar-width: thick;
  scrollbar-color: #242338 333152;
}

.scrollthick::-webkit-scrollbar {
  width: 10px;
}

.scrollthick::-webkit-scrollbar-track {
  background: #242338;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 6rem;
}

.scrollthick::-webkit-scrollbar-thumb {
  background: #333152;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 6rem;
}

.scrollthick::-webkit-scrollbar-button {
  display: none;
}

.btn {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.btn:hover {
  opacity: .93;
}

.btn:active {
  opacity: .88;
}

.btn.red {
  background: #ff5555;
  border-radius: 4px;
  padding: 2px 4px;
}

.btn.blurple {
  background: #7289da;
  border-radius: 4px;
  padding: 2px 4px;
}

.btn.yellow {
  background: #f1fa8c;
  border-radius: 4px;
  padding: 2px 4px;
}

.btn.green {
  background: #50fa7b;
  border-radius: 4px;
  padding: 2px 4px;
}

.btn.copy {
  position: absolute;
}

@media screen and (max-width: 480px) {
  .navigation nav {
    width: unset !important;
  }
  footer > div:first-child {
    width: 100%;
  }
  footer > div:last-child {
    display: none;
  }
}

button {
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
  -webkit-writing-mode: unset;
  text-rendering: unset;
  color: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  cursor: unset;
  background-color: unset;
  -webkit-box-sizing: unset;
  box-sizing: unset;
  margin: unset;
  font: unset;
  padding: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  -o-border-image: unset;
  border-image: unset;
}

::-ms-input-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder, :-ms-input-placeholder, body, button, input, select, textarea {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}

::-ms-input-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder, ::-ms-input-placeholder, body, button, input, select, textarea {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}

::-ms-input-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder, ::placeholder, body, button, input, select, textarea {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}

.mtk9 {
  color: #9cdcfe;
}

.mtk11 {
  color: #ce9178;
}
/*# sourceMappingURL=style.css.map */