@import url(/assets/fonts/fonts.css);

html {
    &[mode="light"]{
        --background-primary: rgb(243, 240, 240);
        --background-secondary: rgb(190, 190, 190);
        --background-secondary-alt: rgb(212, 212, 212);
        --text-color: rgb(43, 48, 54);
        --bold-bolder: rgb(0, 0, 0);
        --pre-scrollbar-track: rgb(77, 77, 83);
    }
    &[mode="dark"]{
        --background-primary: rgb(34, 34, 34);
        --background-secondary: rgb(61, 61, 61);
        --background-secondary-alt: rgb(53, 55, 59);
        --text-color: rgb(231, 237, 245);
        --bold-bolder: rgb(255, 255, 255);
        --pre-scrollbar-track: rgb(219, 219, 230);
    }
    &[codetype="css"] g.scss{
        display: none;
    }
    &[codetype="scss"] g.css{
        display: none;
    }
    &>body{
        margin: 0;
        font-family: 'whitney', sans-serif;
        background: var(--background-primary);
        &>#appmount{
            &>nav{
                position: sticky;
                top: 0;
                background: var(--background-secondary);
                height: 40px;
                display: grid;
                grid-template-columns: 170px calc(100% - 170px);
                z-index: 1;
                .home{
                    a{
                        position: absolute;
                        top: 50%;
                        left: 8px;
                        transform: translateY(-50%);
                        font-size: 28px;
                    }
                    &+div{
                        text-align: right;
                        font-size: 18px;
                        position: absolute;
                        top: 50%;
                        left: 170px;
                        transform: translateY(-50%);
                        height: fit-content;
                        width: calc(100% - 230px);
                        padding: 0 10px;
                        &+a{
                            width: 28px;
                            height: 28px;
                            position: absolute;
                            right: 8px;
                            transform: translateY(-50%);
                            top: 50%;
                            border-radius: 50%;
                            svg{
                                width:  24px;
                                height: 24px;
                                padding: 2px;
                                fill: var(--text-color);
                            }
                        }
                    }
                }
                a{
                    text-decoration: none;
                    color: var(--text-color);
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &>main{
                padding: 10px;
                color: var(--text-color);
                position: relative;
                &.hashed  .snippets:not(.hashed){
                    display: none;
                }
                .snippets{
                    position: relative;
                    &:not(:last-of-type){
                        margin-bottom: 10px;
                    }
                    &>h2{
                        margin: 0;
                        display: flex;
                        width: fit-content;
                        position: relative;
                        &:hover .get_url{
                            opacity: 1;
                        }
                        .get_url{
                            opacity: 0;
                            width: 2rem;
                            height: 2rem;
                            svg{
                                padding: .5rem;
                                cursor: pointer;
                                fill: var(--text-color);
                            }
                        }
                        &::first-letter{
                            text-transform: uppercase;
                        }
                        &+pre{
                            background: var(--background-secondary-alt);
                            padding: 10px;
                            border-radius: 4px;
                            margin: 0;
                            overflow: auto;
                            max-height: 11rem;
                            &::-webkit-scrollbar {
                                width: 8px;
                            }
                            &::-webkit-scrollbar-track {
                                background: transparent;
                                border: 2px solid transparent;
                                background-clip: padding-box;
                                margin-bottom: 2px;
                                margin-top: 2px;
                            }
                            &::-webkit-scrollbar-thumb {
                                border: 2px solid transparent;
                                border-radius: 4px;
                                background: var(--pre-scrollbar-track);
                                background-clip: padding-box;
                            }
                        }
                    }
                    .copy_code{
                        position: absolute;
                        bottom: 14px;
                        right:  10px;
                    }
                    &.multi{
                        background: var(--background-secondary-alt);
                        padding: 10px;
                        border-radius: 4px;
                        &>h2{
                            background: var(--background-primary);
                            width: fit-content;
                            padding: 2px 5px;
                            border-radius: 4px;
                            margin-bottom: 10px;
                            .get_url{
                                opacity: 1;
                            }
                        }
                        &>div{
                            position: relative;
                            &>h3{
                                margin: 0;
                                &::first-letter{
                                    text-transform: uppercase;
                                }
                                &+pre{
                                    background: var(--background-primary);
                                    padding: 10px;
                                    border-radius: 4px;
                                    margin-top: 0;
                                    overflow: auto;
                                    max-height: 11rem;
                                    min-height: 4rem;
                                    margin-bottom: 0;
                                    &::-webkit-scrollbar {
                                        width: 8px;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background: transparent;
                                        border: 2px solid transparent;
                                        background-clip: padding-box;
                                        margin-bottom: 2px;
                                        margin-top: 2px;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        border: 2px solid transparent;
                                        border-radius: 4px;
                                        background: var(--pre-scrollbar-track);
                                        background-clip: padding-box;
                                    }
                                }
                            }
                        }
                    }
                }
                &>.frontstyle{
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 4rem;
                    div{
                        font-size: 1rem;
                    }
                }
                &>.ver{
                    position: fixed;
                    bottom: 5px;
                    right: 5px;
                }
            }
            &>#switchcodetype{
                position: fixed;
                bottom: 20px;
                left:  20px;
                height: 38px;
                width: 38px;
                cursor: pointer;
                border-radius: 50%;
                background: var(--background-secondary);
                border: 2px var(--bold-bolder) solid;
                svg{
                    height: 30px;
                    width:  30px;
                    margin: 4px;
                }
            }
        }
    }
    textarea{
        background: var(--background-secondary-alt);
        color: var(--text-color);
        padding: .5rem;
        border-radius: 8px;
    }
}
*::-webkit-scrollbar-corner{display: none;}