.theme-light .appMount-3lHmkl{
    visibility: hidden;
}
.theme-light .button-14-BFJ:nth-child(3),.layers-3iHuyZ > .layer-3QrUeG:nth-child(2),.typeWindows-1za-n7,.typeMacOS-3EmCyP{
    visibility: visible;
}
.theme-light .button-14-BFJ:nth-child(3){
    position: fixed;
    visibility: visible;
    top: calc(50% + 30px);
    left: calc(50% - 16px);
}


[lang="da"].theme-light .sidebar-2K8pFh::after{
    content:"Lystilstand understøttes ikke";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="de"].theme-light .sidebar-2K8pFh::after{
    content:"Lichtmodus wird nicht unterstützt";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang*="en"].theme-light .sidebar-2K8pFh::after{
    content:"Light Mode is not supported";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="es-ES"].theme-light .sidebar-2K8pFh::after{
    content:"El modo de luz no es compatible";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="fr"].theme-light .sidebar-2K8pFh::after{
    content:"Le mode lumière n’est pas pris en charge";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="hr"].theme-light .sidebar-2K8pFh::after{
    content:"Svjetlosni način rada nije podržan";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="it"].theme-light .sidebar-2K8pFh::after{
    content:"La modalità luce non è supportata";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="lt"].theme-light .sidebar-2K8pFh::after{
    content:"Šviesos režimas nepalaikomas";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="hu"].theme-light .sidebar-2K8pFh::after{
    content:"A Fény mód nem támogatott";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="no"].theme-light .sidebar-2K8pFh::after{
    content:"Lysmodus støttes ikke";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="ro"].theme-light .sidebar-2K8pFh::after{
    content:"A Fény mód nem támogatott";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="sv-SE"].theme-light .sidebar-2K8pFh::after{
    content:"Ljusläge stöds inte";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="vi"].theme-light .sidebar-2K8pFh::after{
    content:"Chế độ ánh sáng không được hỗ trợ";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="tr"].theme-light .sidebar-2K8pFh::after{
    content:"Işık Modu desteklenmiyor";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="cs"].theme-light .sidebar-2K8pFh::after{
    content:"Režim světla není podporován";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="el"].theme-light .sidebar-2K8pFh::after{
    content:"Η λειτουργία φωτισμού δεν υποστηρίζεται";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="bg"].theme-light .sidebar-2K8pFh::after{
    content:"Не се поддържа режим на осветеност";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="ru"].theme-light .sidebar-2K8pFh::after{
    content:"Режим света не поддерживается";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="uk"].theme-light .sidebar-2K8pFh::after{
    content:"Світловий режим не підтримується";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="th"].theme-light .sidebar-2K8pFh::after{
    content:"โหมดแสงไม่ได้รับการสนับสนุน";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang*="zh"].theme-light .sidebar-2K8pFh::after{
    content:"不支援光模式";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="ja"].theme-light .sidebar-2K8pFh::after{
    content:"ライト モードはサポートされていません";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

[lang="ko"].theme-light .sidebar-2K8pFh::after{
    content:"라이트 모드는 지원되지 않습니다.";
    color: var(--header-primary);
    position: fixed;
    visibility: visible;
    top: 50%;
    left: calc(50%);
}

